h1, h2 {
    text-align: center;
    padding: 40px;
}

.bg-body-principal {
    background-color: #0dcaf0;
}

.btn-principal {
    background-color: #6eb4ff;
}

.btn-principal:hover {
    background-color: #056bd8;
}

.btn-enviar {
    background-color: #28a745;
}

.btn-enviar:hover {
    background-color: #207a35;
}

.btn-categorias {
    background-color: #6f42c1;
    color: #fff;
}

.btn-categorias:hover {
    background-color: #6f42c1;
}

.centralizar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.6;
}

.centralizar h1 {
    font-size: 2.5rem;
    padding: 5px;
}

.centralizar ul li {
    font-size: 40px;
}

.menu-link {
    display: flex;
    font-size: 30px;
    gap: 20px;
}

.menu-link a {
    background-color: #e1f00d;
    border-radius: 10px;
}